/*a {
  color: rgb(132, 79, 15);
  text-decoration: none;
  margin: 5px;
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: rgb(132, 79, 15);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 7%;
  background-color: rgb(255, 255, 255);
  border-bottom: 3px solid rgb(132, 79, 15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(132, 79, 15);
}

.navbar .navbar-nav a {
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
  color: rgb(132, 79, 15);
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/R.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .content {
  padding: 0.8rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: rgb(132, 79, 15);
  text-shadow: 3px 3px 5px #fff;
  line-height: 1.2;
}

.hero .content p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  font-weight: 100;
  color: rgb(56, 37, 13);
}

/* about section */
.about {
  background-color: rgb(132, 79, 15);
  padding: 5rem 7% 10rem;
}

.about h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 3rem;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 2 2 20rem;
}

.about .row .about-img img {
  height: 85%;
  width: 90%;
}

.about .row .content {
  flex: 1 1 50rem;
  padding: 0 1rem;
}

.content .name {
  font-size: 1.5rem;
  color: #fff;
}

.content .pendidikan {
  color: #fff;
  font-size: 1.5rem;
}

.content .pendidikan h3 {
  font-size: 2.5rem;
}

.content .keahlian {
  color: #fff;
  font-size: 1.5rem;
}

.content .keahlian h3 {
  font-size: 2.5rem;
}

.contact {
  background-color: #fff;
  padding: 0.5rem 7% 1rem;
}

.contact .kontak {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  color: rgb(132, 79, 15);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contact .kontak p {
  margin-top: 0.3rem;
}

.contact .kontak .fb {
  align-items: center;
  margin-right: 0.3rem;
}

.contact .kontak .ig {
  align-items: center;
  margin-right: 0.3rem;
  margin-left: 0.5rem;
}

.contact .kontak .gm {
  align-items: center;
  margin-right: 0.3rem;
  margin-left: 0.5rem;
}

.contact .kontak .wa {
  align-items: center;
  margin-right: 0.3rem;
  margin-left: 0.5rem;
}
